@import url("https://api.fontshare.com/v2/css?f[]=stardom@400&f[]=satoshi@900,700,500,300,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Satoshi", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

.cover {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .cover {
    width: 100%;
    height: 60vh;
  }
}

.cover .cover__banner {
  height: 86%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .details {
    width: 100%;
    height: 90vh;
  }
}

.details .details__assets {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
}

.banner {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner__attr {
  width: 14%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner__attr .banner__attr__txt {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-transform: uppercase;
  cursor: pointer;
}

.banner .banner__attr .banner__attr__txt h2 {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.banner .banner__section {
  padding: 1.4rem 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .banner__section .banner__serial {
  font-size: 18px;
  font-weight: 600;
}

.banner .banner__section .banner__heading {
  font-family: "Stardom", serif;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .banner .banner__section .banner__heading {
    font-size: 2.6rem;
  }
}

.banner .banner__section .banner__cr__attr {
  font-size: .8rem;
  font-weight: 600;
  width: 100%;
  text-align: end;
  cursor: pointer;
}

.banner .banner__section .banner__cr__attr * {
  cursor: pointer;
}

.bottom__nav {
  width: 100%;
  height: 14%;
  background-color: #0A0A0A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom__nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bottom__nav .item .line {
  width: 4rem;
  height: 2px;
  background-color: #FFFFFF;
}

.bottom__nav .item p {
  color: #ffffff;
  padding: 0 1rem;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 400;
}

.cover__image {
  width: 84%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.details__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  height: 100%;
  padding: 1rem;
  background-color: #fc9105;
}

.details__card .details__index {
  font-size: 4rem;
  font-weight: 800;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #FFFFFF;
}

.details__card .details__item {
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
}

nav {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  position: relative;
}

nav a {
  cursor: pointer;
}

nav a * {
  cursor: pointer;
}

nav .nav__logo {
  font-size: 16px;
  font-weight: 800;
}

nav .nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .nav__icon * {
  cursor: pointer;
}

nav .nav__icon p {
  font-size: 15px;
  font-weight: 600;
  margin-right: 1rem;
}

.nav__slider {
  position: fixed;
  top: 0;
  right: 50vw;
  width: 20vw;
  height: 60vh;
  background-color: #0a0a0aa2;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__slider * {
  color: #FFFFFF;
}

.nav__slider .nav__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav__slider .nav__icon p {
  font-weight: 400;
  font-size: 14px;
}

.nav__slider ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__slider ul li {
  cursor: pointer;
}

.nav__slider ul li:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .nav__slider {
    position: fixed;
    top: 0;
    right: 0vw;
    width: 100vw;
    height: 60vh;
  }
}

.sidebar {
  width: 16%;
  height: 100%;
}

.sidebar .search {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fc9105;
}

.sidebar .social {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar .social .social__link {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.thumbnail {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnail * {
  cursor: pointer;
}

.thumbnail .thumbnail__mask {
  width: 100%;
  height: 100%;
  background-color: #fc9105a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.thumbnail .thumbnail__mask .icon__play {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.thumbnail .thumbnail__mask .circle1 {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.thumbnail .thumbnail__mask .circle2 {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.thumbnail .thumbnail__mask .circle3 {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.thumbnail .thumbnail__mask .circle4 {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */