*
    padding: 0
    margin: 0
    box-sizing: border-box
    cursor: default

body
    width: 100%
    height: fit-content

header
    width: 100%
    height: 100vh

$color__black: rgb(0,0,0)
$color__white: rgb(255,255,255)
$color__green: rgb(0, 207, 128)
$color__violet: rgb(147, 0, 206)

@import ./components/NavBar/_NavBar
@import ./components/Banner/_Banner
@import ./components/ListItem/_ListItem
